<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL).
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category    CsuMarketSystem
 * @package     CsuMarketSystem_OpteMais
 * @copyright   Copyright (c) 2016 CSU MarketSystem [www.csu.com.br]
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <CsuMarketSystem_OpteMais>
            <version>1.5.0</version>
        </CsuMarketSystem_OpteMais>
    </modules>
    <global>
        <helpers>
            <optemais>
                <class>CsuMarketSystem_OpteMais_Helper</class>
            </optemais>
        </helpers>
        <models>
            <optemais>
                <class>CsuMarketSystem_OpteMais_Model</class>
                <resourceModel>optemais_resource</resourceModel>
            </optemais>
            <optemais_resource>
                <class>CsuMarketSystem_OpteMais_Model_Resource</class>
                <entities>
                    <campaign>
                        <table>optemais_campaign</table>
                    </campaign>
                    <campaign_item>
                        <table>optemais_campaign_item</table>
                    </campaign_item>
                </entities>
            </optemais_resource>
        </models>
        <resources>
            <optemais_setup>
                <setup>
                    <module>CsuMarketSystem_OpteMais</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </optemais_setup>
        </resources>
        <blocks>
            <optemais>
                <class>CsuMarketSystem_OpteMais_Block</class>
            </optemais>
        </blocks>
    </global>
    <frontend>
        <routers>
            <optemais>
                <use>standard</use>
                <args>
                    <module>CsuMarketSystem_OpteMais</module>
                    <frontName>optemais</frontName>
                </args>
            </optemais>
        </routers>
        <translate>
            <modules>
                <optemais>
                    <files>
                        <default>CsuMarketSystem_OpteMais.csv</default>
                    </files>
                </optemais>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_grid_prepare_massaction>
                <observers>
                    <optemais>
                        <type>singleton</type>
                        <class>optemais/observer</class>
                        <method>addMassActionToProductGrid</method>
                    </optemais>
                </observers>
            </adminhtml_catalog_product_grid_prepare_massaction>
            <catalog_product_attribute_update_after>
                <observers>
                    <optemais>
                        <type>singleton</type>
                        <class>optemais/observer</class>
                        <method>afterUpdateAttributes</method>
                    </optemais>
                </observers>
            </catalog_product_attribute_update_after>
            <catalog_product_to_website_change>
                <observers>
                    <optemais>
                        <type>singleton</type>
                        <class>optemais/observer</class>
                        <method>afterUpdateAttributes</method>
                    </optemais>
                </observers>
            </catalog_product_to_website_change>
            <catalog_product_stock_item_mass_change>
                <observers>
                    <optemais>
                        <type>singleton</type>
                        <class>optemais/observer</class>
                        <method>afterUpdateAttributes</method>
                    </optemais>
                </observers>
            </catalog_product_stock_item_mass_change>
        </events>
        <translate>
            <modules>
                <optemais>
                    <files>
                        <default>CsuMarketSystem_OpteMais.csv</default>
                    </files>
                </optemais>
            </modules>
        </translate>
        <layout>
            <updates>
                <optemais>
                    <file>optemais.xml</file>
                </optemais>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MarketSystem_OpteMais before="Mage_Adminhtml">CsuMarketSystem_OpteMais_Adminhtml</MarketSystem_OpteMais>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
            <optemais_modelc>
                <active>1</active>
                <model>optemais/payment_modelc</model>
                <order_status>pending</order_status>
                <title>Pago na CSU MarketSystem OPTe+</title>
            </optemais_modelc>
        </payment>
        <optemais>
            <config_product>
                <use_parent_images>0</use_parent_images>
                <items_per_page>200</items_per_page>
                <ignore_invisible>1</ignore_invisible>
                <discount_min_qty>1</discount_min_qty>
                <use_parent_price>0</use_parent_price>
            </config_product>
            <config_shipping>
                <delivery_time_default>7</delivery_time_default>
                <delivery_time_variable>delivery_time</delivery_time_variable>
                <price_type>lowest_price</price_type>
                <allowed_shipping_methods>all</allowed_shipping_methods>
            </config_shipping>
            <config_order>
                <tipo_pessoa_value_pf>pf</tipo_pessoa_value_pf>
                <tipo_pessoa_value_pj>pj</tipo_pessoa_value_pj>
            </config_order>
            <config_order_status>
                <status_approved>processing</status_approved>
                <status_canceled>canceled</status_canceled>
                <status_pending>pending</status_pending>
                <status_delivered>complete</status_delivered>
                <status_refunded>closed</status_refunded>
            </config_order_status>
        </optemais>
    </default>
</config>